@using System.Security.Claims
@model List<UserRolesModel>

@{
    ViewData["Title"] = "Admin page";
    int counter = 1;
}

<div class="card col-lg-3 mb-3">
    <div class="card-body">
        <h4 class="p-2">Admin actions:</h4>
        <div class="d-flex gap-2 justify-content-around">
            <form asp-controller="Article" asp-action="AgregateArticle" method="post" class="mb-4">
                <button class="btn btn-secondary" type="submit">Aggregate</button>
            </form>
            <form asp-controller="Article" asp-action="PositivityAssessment" method="post" class="mb-4">
                <button class="btn btn-secondary" type="submit">Assessment</button>
            </form>
        </div>
    </div>
</div>

<div class="card">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr class="align-center">
                    <td>@counter</td>
                    <td>@user.Id</td>
                    <td>@user.Email</td>
                    <td>
                        @foreach (var role in user.UserRoles)
                        {
                            <span class="badge bg-primary">@role.RoleName</span>
                        }
                    </td>
                    <td>
                        <div class="d-flex gap-2">
                            <form asp-controller="Admin" asp-action="AddAdminRole" method="post">
                                <input type="hidden" name="userId" value="@user.Id" />
                                @if ((@User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value).Equals(user.Id.ToString()))
                                {
                                    <button class="btn disabled btn-primary" type="submit">Add Admin Role</button>
                                }
                                else
                                {
                                    <button class="btn btn-primary" type="submit">Add Admin Role</button>
                                }
                            </form>
                            <form asp-controller="Admin" asp-action="DeleteUser" method="post">
                                <input type="hidden" name="userId" value="@user.Id"/>
                                @if ((@User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value).Equals(user.Id.ToString()))
                                {
                                    <button class="btn disabled btn-danger" type="submit">Delete</button>
                                }
                                else
                                {
                                    <button class="btn  btn-danger" type="submit">Delete</button>
                                }
                            </form>
                        </div>
                    </td>
                </tr>
                counter++;
            }
        </tbody>
    </table>
</div>